@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <h1 id="index-title">Hello !!!</h1>
    <button id="index-btn" class="btn btn-dark">Hi!</button>
</div>