
<style>
    .notfound_body {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-weight: bold;
    }

    .notfound_body_title01 {
        text-transform: capitalize;
        font-size: 90px;
    }
    
    .notfound_body_title02{
        font-size: 30px;
    }

    .notfound_body_content {
        text-align: center;
        padding-inline: 20px;
        display: flex;
        justify-content: center;
        font-weight: normal;
        font-size: 20px;
    }
</style>

<div class="notfound_body">
    <div class="notfound_body_title01">404</div>
    <div class="notfound_body_title02">Not Found</div>
    <div class="notfound_body_content">content you search is not found within the website</div>
</div>