
<style>
    * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h3 {
        
    }
</style>

<h1>404</h1>
<h2>Not Found</h2>
<h3>context you search is not found within the website</h3>