@page
@model BookSiteServer.Views.Home.CategoriesModel
@{
    ViewData["Title"] = "Categories Page";
}

<div class="container-fluid">
    <div>
        <h1>Hi !!!, This is the Categories Page</h1>
    </div>
</div>