
@model int

<div class="displayNovels_container">

    <div class="displayNovels_container_title">
        <h2>Novels Archives for : @Model</h2>
    </div>

    <div class="displayNovels_container_content">
        <p>dwi lwidjl a;wp owao wdwn jbwbfwoadn nwudwba wdw,hwiadnj bd dadiwajdnasdns nwadliwjdasldk dhwakd jbwkdwadki lkdwa wjal wjalidwa</p>
        <p>dbiwahduwo jwoiadjp waj iwnudwbr waodpwap ; wjfwap jd nlwadi waojdlk kadladksnd wialddal</p>
        <p>dwadw awdwa awdwr grfsf wafesfa</p>
    </div>



</div>