@{
    ViewData["Title"] = "Home Page";
}

<div class="displayNovels_container">

    <div class="displayNovels_container_title">
        <h2>Novels Archives for : </h2>
    </div>

    <div class="displayNovels_container_content">

        @for (int i = 0; i < 8; i++)
        {
            string tmp = "novel" + @i;
            <div class="displayNovels_container_book" id="@tmp">

                <div style="" class="displayNovels_container_book_img"></div>
                <div class="displayNovels_container_book_title">
                    <h6>the old gods are whispering</h6>
                </div>
                <div class="displayNovels_container_book_rate">
                    <h6>3.5/5</h6>
                </div>
            </div>
        }



    </div>

</div>