@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*<div class="">
    <div class="index_container_top">
        <div class="index_container_left"></div>
        <div class="index_container_right"></div>
    </div>
</div>*@

<style>
    .index_container_viewMore_right {
        text-decoration: none;
        font-style: italic;
        margin-right: 30px;
        margin-top: 10px;
    }

        .index_container_viewMore_right:hover {
            cursor: pointer;
            color: #212529;
        }

    .index_container_recommends_viewMore_btn {
        background-color: #212529;
        padding: 7.5px 20px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border-radius: 6px;
        border: 1px solid white;
    }

        .index_container_recommends_viewMore_btn:hover {
            cursor: pointer;
            color: #212529;
            background-color: white;
            border: 1px solid #212529;
        }

    .index_container_main_btn {
        background-color: #212529;
        padding: 7.5px 20px;
        width: 150px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        border-radius: 6px;
        border: 1px solid white;
        margin-top: 20px;
        text-align: center;
    }

        .index_container_main_btn:hover {
            cursor: pointer;
            color: #212529;
            background-color: transparent;
            border: 1px solid #212529;
        }

</style>

<div class="index_container">
    <div class="index_container_top">

        <div class="index_container_logout">

            <h1>YR Novels</h1>
            <p>read your favourite novels here</p>

            <div class="index_container_count">
            </div>

            <div class="index_container_account_btn">
                <button id="index_container_account_log"><span></span>LogIn</button>
                <button id="index_container_account_reg"><span></span>Create Account</button>
            </div>

        </div>

        <div class="index_container_logon"></div>

    </div>

    <div class="index_container_newBooks">

        <div class="index_container_title">
            <h1>New Novels</h1>
            <a class="index_container_viewMore_right" asp-controller="Home" asp-action="NewNovels">View More >></a>
        </div>

        <div class="index_container_newBooks_content">
            @for (int i = 0; i < 6; i++)
            {
                <div class="index_container_book">
                    <div class="index_container_book_img" style="background-image:url(./img/book01.jpg);"></div>
                    <div class="index_container_book_title">
                        <h6>the old gods are whispering</h6>
                    </div>
                    <div class="index_container_book_info">
                        <div class="index_container_book_info_gen">martial arts</div>
                        <div class="index_container_book_info_chapters">234 ch</div>
                    </div>
                    <div class="index_container_book_time">Add 54 minutes ago</div>
                </div>
            }
        </div>

    </div>

    <div class="index_container_app">
        <div class="index_container_app_info">

            <h2>Download Our Desktop Application</h2>
            <h5>download our desktop application </h5>
            <h5>for more easy access to the our book library</h5>

            <a id="index_download" class="index_container_main_btn">Download</a>

        </div>
    </div>

    <div class="index_container_social">
        <div class="index_container_social_info">

            <h2>join discord group chat</h2>
            <h5>join our group chat on discord</h5>
            <h5>by clicking the button below</h5>

            <a id="index_discord" class="index_container_main_btn">Discord</a>

        </div>
    </div>

    <div class="index_container_updates">

        <div class="index_container_title">
            <h1>Updates</h1>
            <div class="index_container_viewMore_right_recommends_hide"><a class="index_container_viewMore_right" asp-controller="Home" asp-action="NewNovels">View More >></a></div>
        </div>

        <div class="index_container_recommends_content">
            @for (int i = 0; i < 6; i++)
            {
                <div class="index_container_book_list">
                    <div class="index_container_book_list_img" style="background-image:url(./img/book01.jpg);"></div>
                    <div class="index_container_book_list_content">
                        <div class="index_container_book_list_title">
                            <h6>the old gods are whispering</h6>
                        </div>
                        <div class="index_container_book_list_info">
                            <div class="index_container_book_list_info_gen">martial arts</div>
                            <div class="index_container_book_info_chapters">234 ch</div>
                        </div>
                        <div class="index_container_book_time">Add 54 minutes ago</div>
                    </div>
                </div>
            }
        </div>

        <div class="index_container_recommends_viewMore">
            <a class="index_container_recommends_viewMore_btn" asp-controller="Home" asp-action="NewNovels">View More</a>
        </div>

    </div>

    <div class="index_container_ranking"></div>

    <div class="index_container_recommends">

        <div class="index_container_title">
            <h1>Recommends</h1>
            <div class="index_container_viewMore_right_recommends_hide"><a class="index_container_viewMore_right" asp-controller="Home" asp-action="NewNovels">View More >></a></div>
        </div>

        <div class="index_container_recommends_content">
            @for (int i = 0; i < 6; i++)
            {
                <div class="index_container_book_list">
                    <div class="index_container_book_list_img" style="background-image:url(./img/book01.jpg);"></div>
                    <div class="index_container_book_list_content">
                        <div class="index_container_book_list_title">
                            <h6>the old gods are whispering</h6>
                        </div>
                        <div class="index_container_book_list_info">
                            <div class="index_container_book_list_info_gen">martial arts</div>
                            <div class="index_container_book_info_chapters">234 ch</div>
                        </div>
                        <div class="index_container_book_time">Add 54 minutes ago</div>
                    </div>
                </div>
            }
        </div>

        <div class="index_container_recommends_viewMore">
            <a class="index_container_recommends_viewMore_btn" asp-controller="Home" asp-action="NewNovels">View More</a>
        </div>

    </div>

</div>
