@page
@model BookSiteServer.Views.Home.NewNovelsModel
@{
    ViewData["Title"] = "New Novels Page";
}

<div class="container-fluid bg-info">
    <div>
        <h1>Hi!!!, this is new novels</h1>
    </div>
</div>
